@import '../../common/css/const';
.Concat-outer {
    padding: 20px 60px;
    .tip {
        color: #9999;
        margin-bottom: 20px;
    }
}
.input-row {
    .input-title {
        padding-bottom: 8px;
    }
    margin-bottom: 16px;

}
