@import '../../common/css/const';
.Metagenome-outer {
  height: 100%;
  width: 100%;
  h4 {
    line-height: 60px;
    font-size: 22px;
    font-weight: bolder;
    padding: 0 18px;
    background-color: #fafafa;
    color: rgba(0,0,0,.65);
    margin-bottom: 16px;
  }
  .el-aside {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .mmc-link{
    line-height: 20px;
    span,a {
      font-size: 14px;
      padding: 0 10px;
    }
    span:nth-of-type(1) {
      padding: 0 0;
    }
    margin-bottom: 8px;
  }
  .metahome-tip {
    font-size: 14px;
    line-height: 1.2;
  }
  .el-checkbox {
    min-width: 86px;
    margin-bottom: 10px;
  }
}
.el-container {
  height: 100%;
}
.el-col .grid-content {
  // line-height: 60px;
}

.el-aside {
  color: #333;
}

.el-main {
  color: #333;
  // line-height: 160px;
}
.mm-trees-wrap {

}
.mm-con-title {
  font-size: 18px;
  margin: 16px 0 6px 0;
}