@import '../../common/css/const';
.Metagenome-outer {
  height: 100%;
  width: 100%;
  h4 {
    line-height: 60px;
    padding: 0 18px;
    background-color: #fafafa;
    margin-bottom: 16px;
    opacity: 0.48;
    font-size: 18px;
    color: #2F2725;
    letter-spacing: -0.43px;
  }
  .mm-trees-wrap {
    padding: 0 6px;
    .mm-ul {
      li:hover {
        color: #677AFB;
      }
      li {
        cursor: pointer;
        display: flex;
        height: 60px;
        align-items: center;
        padding:0 20px;
        span {
          flex: 1;
        }
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .meta-data-ul {
    overflow: hidden;
    li {
      display: flex;
      float: left;
      min-width: 86px;
      margin: 0 10px 16px 0;
      align-items: center;
      div {
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
      span {
        flex: 1;
        cursor: pointer;
      }
      span:hover {
        color: #677AFB;
      }
    }
  }
  
  .mm-table {
    .add-samll {
      padding: 4px 6px;
      background: #E8EBFE;
      border-radius: 2px;
      border: 0px solid;
      img {
        width: 14px;
        height: 14px;
      }
    }
  }
  .el-aside {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .mmc-link{
    line-height: 20px;
    display: flex;
    font-size: 16px;
    span {
      color: #2F2725;
      letter-spacing: -0.39px;
      flex: 1;
      font-weight: bolder;
    }
    a {
      padding: 0 10px;
    }
    span:nth-of-type(1) {
      padding: 0 0;
    }
    margin-bottom: 8px;
  }
  .metahome-tip {
    color: #606266;
    line-height: 26px;
  }
  .el-checkbox {
    min-width: 86px;
    margin-bottom: 10px;
  }
}
.el-container {
  height: 100%;
}
.el-col .grid-content {
  // line-height: 60px;
}
.el-aside {
  color: #333;
}

.el-main {
  color: #333;
  // line-height: 160px;
}
.mm-con-title {
  font-size: 18px;
  color: #2F2725;
  margin: 30px 0 30px 0;
  font-weight: bolder;
}