@import '../../common/css/const';
.GlobalSearch-outer {
 padding: 12px 40px;
 width: 100%;
 height: 100%;
 h4 {
  line-height: 60px;
  padding: 0 18px;
  background-color: #fafafa;
  margin-bottom: 16px;
  opacity: 0.48;
  font-size: 18px;
  color: #2F2725;
 }
 .mm-trees-wrap {
  padding: 0 6px;
  .mm-ul {
    li:hover {
      color: #677AFB;
    }
    li {
      cursor: pointer;
      display: flex;
      height: 60px;
      align-items: center;
      padding:0 20px;
      span {
        flex: 1;
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
 .search-table {
   padding: 0 6px;
   height: 100%;
   width: 100%;
   overflow: auto;
  //  .add-samll {
  //     padding: 4px 6px;
  //     background: #E8EBFE;
  //     border-radius: 2px;
  //     border: 0px solid;
  //     img {
  //       width: 14px;
  //       height: 14px;
  //     }
  //   }
 }
 .h3-title {
    font-size: 16px;
    color: #2F2725;
    font-weight: bolder;
 }
 .c-meta-outer {
   h3 {
    margin: 20px 0 10px 0;
    // font-weight: bolder;
   }
   .cmeta-title {
     display: inline-block;
     font-weight: 500;
     margin: 0 20px 8px 0;
     width: 60px;
     text-align: right;
     font-size: 14px;
   }
   .range-outer,
   .enum-outer {
     display: inline-block;
   }
 }
 .range-outer {
   display: flex;
   justify-items: center;
   align-items: center;
   .rang-label {
     margin: 0 6px;
   }
   .rang-input {
     width: 100px;
    //  margin-right: 20px;
   }
 }
}
