@import '../../common/css/const';
.MetaData-outer {
  height: 100%;
  width: 100%;
  h4 {
    line-height: 60px;
    font-size: 20px;
    font-weight: bolder;
  }
  .el-aside {
    padding-left: 20px;
  }
  .search-outer {
    margin-bottom: 20px;
  }
  .Meta-input-1 {
    width: 170px;
    margin-right: 20px;
  }
}
.el-container {
  height: 100%;
}
.mm-trees-wrap {

}
.tip-one {
  margin-bottom: 10px;
  span:nth-of-type(1) {
    margin-right: 20px;
  }
}
.tip-two {
  font-size: 12px;
}