@import '../../common/css/const';
.PROJECT-outer {
  padding: 0 8px;
  width: 100%;
  .el-input-group{
    width: 300px;
  }
  .drawer-con {
    padding: 10px 20px;
  }
  .tips {
    .mmc-link {
      margin-bottom: 12px;
      span, a {
        margin-right: 30px;
      }
    }
  }
}
