@import '../../common/css/const';
.JY-home {
  height: 100%;
  .grid-content {
    border-right: 1px solid #d1d1d1;
    position: relative;
  }
  .grid-content.button-active::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    height: 3px;
    width: 100%;
    background: #ef8523;
  }
  .home-header {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 10px;
  }
}
.el-container {
  height: 100%;
}
.el-header, .el-footer {
  text-align: center;
  line-height: 60px;
}
.el-col .grid-content {
  line-height: 60px;
}

.el-aside {
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  color: #333;
  text-align: center;
  // line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}

// .el-container:nth-child(5) .el-aside,
// .el-container:nth-child(6) .el-aside {
//   line-height: 260px;
// }

// .el-container:nth-child(7) .el-aside {
//   line-height: 320px;
// }