@import '../../common/css/const';
.JY-home {
  height: 100%;
  .home-header {
    padding: 0;
    background: #677AFB;
    box-shadow: 0 8px 11px 0 rgba(179,179,179,0.50);
    .company-name {
      font-size: 26px;
      color: #FFFFFF;
      letter-spacing: -0.63px;
      text-align: left;
      padding-left: 30px;
    }
  }
  .grid-content {
    // border-right: 1px solid #d1d1d1;
    position: relative;
    a {
        font-family: SourceHanSansCN-Normal;
        font-size: 16px;
        color: #DDE1FD;
        letter-spacing: -0.39px;
        text-align: center;
    }
  
  }
  .grid-content.button-active::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    height: 5px;
    width: 100%;
    background: #FFF;
  }
  .home-header {
    // .el-col {
    //   border-bottom: 1px solid #d1d1d1;
    // }
    // .col-offset {
    //   border-left: 1px solid #d1d1d1;
    // }
    margin-bottom: 10px;
  }
}
.el-container {
  height: 100%;
}
.el-header, .el-footer {
  text-align: center;
  line-height: 60px;
}
.el-col .grid-content {
  line-height: 60px;
}

.el-aside {
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  color: #333;
  text-align: center;
  // line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}

.cart-outer {
  position: fixed;
  right: 30px;
  bottom: 0;
  transform: translateY(-50%);
  z-index: 2000;
  .el-button.is-circle {
    padding: 16px;
  }
  // .el-button--success {
  //   background: #DFE3FF;
  //   box-shadow: 0 2px 12px 5px rgba(230,230,230,0.50);
  // }
}

// .el-container:nth-child(5) .el-aside,
// .el-container:nth-child(6) .el-aside {
//   line-height: 260px;
// }

// .el-container:nth-child(7) .el-aside {
//   line-height: 320px;
// }